@use "globals/index" as *;
@use "components/index" as *;

.header-container {
  @include flex($justify-content: space-between);
  &__icon {
    padding-top: 10px;
  }
}

.banner {
  &__img {
    height: 275px;
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  margin: 0 auto;
  padding: 40px 15px;
  position: relative;
  top: -50px;
  background-color: #f6f6f6;
  margin-bottom: -50px;
  @include box-shadow;
  border-radius: 40px 40px 0 0;
  &__header {
    @include flex($justify-content: space-between, $align-items: center);
    margin-bottom: 40px;
    padding-right: 20px;
  }
  &__title {
    @include ohmyfood-font(1.75rem);
  }
}

.container-sous-menu {
  @include flex(column);
  gap: 40px;
  margin: 0;
  padding: 0;
}

.sous-menu {
  width: 100%;
  @include flex(column, $align-items: flex-start);
  gap: 15px;
  &__label {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 8px;
  }
  &__bloc {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
    @include box-shadow;
    padding: 15px;
    border-radius: 15px;
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 500;
  }
  &__content {
    @include flex($justify-content: space-between);
  }
  &__text {
    font-weight: 300;
    font-size: 0.9rem;
    margin-right: 5px;
  }
  &__prix {
    font-weight: 500;
  }
}

.underline {
  text-decoration: underline 3px $light-green;
  text-underline-offset: 8px;
}

.menu-button {
  padding: 16px 50px;
}

@media (min-width: 768px) {
  .banner {
    &__img {
      height: 385px;
    }
  }
  .menu {
    @include flex(column);
    width: 75%;
    &__header {
      justify-content: center;
    }
    &__title {
      padding-right: 15px;
    }
  }
  .container-sous-menu {
    width: 60%;
  }
}
