@use "../globals/variables" as *;

.button {
  display: inline-block;
  font-family: $secondary-font;
  font-weight: 500;
  color: $white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: 0.25);
  padding: 13px 19px;
  border-radius: 25px;
}
