@use "../globals/variables" as *;

.button {
  display: inline-block;
  font-family: $secondary-font;
  font-weight: 500;
  color: $white;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 13px 19px;
  border-radius: 25px;
}
