@use '../globals/index' as *;

.heart {
    font-size: 1.375rem;
}

.heart-regular {
    z-index:2;
    &:hover {
        color:$purple;
        transition:color 800ms;
    }
    &:hover + .heart-solid {
        z-index:3;
        transform:scale(1);
    }
}

.heart-solid {
    position:relative;
    left:-25px;
    color:$purple;
    transform:scale(0);
    transition: transform 500ms;
    transform-origin: center center;
}