@use '../globals/index' as *;

.heart-container {
    position:relative;
}

.heart {
    font-size: 1.375rem;
    display:flex;
    padding:5px;
    transition: color 300ms;
    &:hover {
        color:transparent;
    }
    &:hover + .fa-solid {
        transform:scale(1);
    }
}

.heart.fa-solid {
    position:absolute;
    top:0;
    left:0;
    background: $heart-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform:scale(0);
    transition: transform 300ms;
    transform-origin: center center;
}



