@use '../globals/index' as *;

.heart {
    font-size: 1.375rem;
    display:block;
    padding:5px;
}

.heart {
    &:hover {
        color:transparent;
        transition:color 300ms;
    }
    &:hover + .fa-solid {
        transform:scale(1);
    }
}

.fa-solid {
    position:relative;
    left:-32px;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform:scale(0);
    transition: transform 300ms;
    transform-origin: center center;
}