@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.button {
  display: inline-block;
  font-family: roboto, sans-serif;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 19px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}
.button:hover {
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: opacity 500ms;
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant-card {
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.restaurant-card__label {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 9px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 0.875rem;
}
.restaurant-card__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-card__content {
  display: flex;
  align-items: center;
}
.restaurant-card__left {
  width: 80%;
  padding: 15px 0px 15px 15px;
}

.hearth {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 1.375rem;
}

.hearth-regular {
  z-index: 2;
}
.hearth-regular:hover {
  color: #9356dc;
  transition: color 800ms;
}
.hearth-regular:hover + .hearth-solid {
  z-index: 3;
  transform: scale(1);
}

.hearth-solid {
  position: relative;
  left: -25px;
  color: #9356dc;
  transform: scale(0);
  transition: transform 500ms;
  transform-origin: bottom center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: loader 2s ease-out forwards;
}

@keyframes loader {
  100% {
    opacity: 100%;
    display: none;
  }
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 10px solid white;
  border-top-color: #9356dc;
  border-radius: 50%;
  animation: loader-rotation 750ms infinite;
}

@keyframes loader-rotation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-container__icon {
  padding-top: 10px;
  padding-left: 25px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner {
  z-index: 1;
}
.banner__img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -50px;
  padding: 30px 17px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.menu__title {
  font-family: Shrikhand, sans-serif;
  font-size: 1.75rem;
  margin-right: 25px;
}

.container-sous-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.sous-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.sous-menu__label {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 8px;
}
.sous-menu__bloc {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 15px;
}
.sous-menu__title {
  font-size: 1.125rem;
  font-weight: 600;
}
.sous-menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sous-menu__prix {
  font-weight: 500;
}

.underline {
  text-decoration: underline 3px #99e2d0;
  text-underline-offset: 8px;
}

.menu-button {
  padding: 16px 50px;
  margin-bottom: -40px;
}

@media (min-width: 768px) {
  .banner__img {
    height: 385px;
  }
  .menu {
    width: 75%;
    left: 10%;
  }
  .menu__header {
    justify-content: center;
  }
  .container-sous-menu {
    width: 60%;
  }
}
body {
  margin: 0;
  font-family: roboto, sans-serif;
  background-color: #f6f6f6;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header-container__title {
  margin: 15px 0px 5px 0px;
  font-family: Shrikhand, sans-serif;
  font-size: 1.875rem;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.location__icon {
  padding-right: 15px;
}
.location__text {
  font-family: roboto, sans-serif;
  font-weight: 500;
}

.explore {
  padding: 0 30px;
  text-align: center;
}
.explore__title {
  padding: 0 30px;
  margin: 40px 0 20px 0;
}
.explore__text {
  font-family: roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.explore__button {
  margin-top: 25px;
  margin-bottom: 55px;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px 20px 50px 30px;
}
.functioning__title {
  margin-bottom: 30px;
  align-self: flex-start;
}
.functioning__container {
  width: 100%;
}
.functioning__block {
  position: relative;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.functioning__index {
  background-color: #9356dc;
  color: #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
.functioning__icon {
  color: #7e7e7e;
  padding-left: 40px;
  padding-right: 25px;
}
.functioning__icon--purple {
  color: #9356dc;
}
.functioning__text {
  font-weight: 500;
}

.restaurant {
  padding: 50px 20px;
}
.restaurant__cards {
  display: grid;
  gap: 20px;
}
.restaurant__title {
  margin-bottom: 30px;
}

footer {
  background-color: #353535;
}

.footer-container {
  padding: 25px;
  color: #ffffff;
}
.footer-container__title {
  font-family: Shrikhand, sans-serif;
  font-size: 1.125rem;
  margin-bottom: 20px;
  color: white;
}
.footer-container__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.footer-container__link {
  color: #ffffff;
}
.footer-container__icon {
  margin-right: 10px;
}

/* Medias */
@media (min-width: 768px) {
  .functioning {
    padding: 25px 80px;
  }
  .explore__title {
    font-size: 2rem;
  }
  .restaurant {
    padding: 25px 80px;
  }
  .functioning__container {
    display: flex;
    gap: 25px;
  }
  .restaurant__cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 100px;
  }
  .footer-container {
    padding-top: 55px;
    padding-bottom: 30px;
    padding-right: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  .footer-container__title {
    margin: 0;
  }
  .footer-container__spacing {
    padding-right: 25px;
  }
  .footer-container__list {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .explore__title {
    font-size: 2.5rem;
  }
  .functioning {
    padding: 50px 180px;
  }
  .restaurant {
    padding: 30px 180px;
  }
  .footer-container {
    gap: 100px;
  }
  .footer-container__spacing {
    padding-right: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
