// Colors

$white: #ffffff;
$black: #000000;
$light-green: #99e2d0;
$dark-green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$purple: #9356dc;
$btn-background: linear-gradient(#ff79da, #9356dc);
$hearth-color: linear-gradient(#9356dc, #ff79da);

// Fonts

$primary-font: Shrikhand, sans-serif;
$secondary-font: roboto, sans-serif;
